html {
  background-color: #070022;
  color: white;
}

body {
  font-family: system-ui, sans-serif;
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
  line-height: 1.6;
  text-align: left;
}

header, footer {
  text-align: center;
  margin-bottom: 30px;
}